@using ToolsToWorkers.Data
@using ToolsToWorkers.Data.enums
@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Surname">Фамилия</label>
        <input asp-for="Surname" class="form-control" autocomplete="off" style="width: 30%">
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name">Имя</label>
        <input asp-for="Name" class="form-control" autocomplete="off" style="width: 30%">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Patronymic">Отчество</label>
        <input asp-for="Patronymic" class="form-control" autocomplete="off" style="width: 30%">
        <span asp-validation-for="Patronymic" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Role">Роль в системе</label>
        <select asp-for="Role" class="form-control" style="width: 30%">
            @for (int i = 0; i < Enum.GetNames(typeof(UserRoles)).Length; i++)
            {
                <option value="@Enum.ToObject(typeof(UserRoles), i)">@Enum.ToObject(typeof(UserRoles), i)</option>
            }
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Login">Логин</label>
        <input asp-for="Login" class="form-control" autocomplete="off" style="width: 30%">
        <span asp-validation-for="Login" class="text-danger"></span>
        @{
            if (MessegaMarkers.InvalidLogin)
            {
                <span class="text-danger">This login is already in use.</span>
                MessegaMarkers.InvalidLogin = false;
            }
        }
    </div>
    <div class="mb-3">
        <label asp-for="HashedPassword">Пароль</label>
        <input asp-for="HashedPassword" class="form-control" autocomplete="off" style="width: 30%">
        <span asp-validation-for="HashedPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Status">Статус</label>
        <select asp-for="Status" class="form-control" style="width: 30%">
            @for (int i = 0; i < Enum.GetNames(typeof(UserStaus)).Length; i++)
            {
                <option value="@Enum.ToObject(typeof(UserStaus), i)">@Enum.ToObject(typeof(UserStaus), i)</option>
            }
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-secondary my-2">Добавить</button>
</form>




