@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Складская ведомость</b></h1>
    <br>
    <p>Для того, чтобы начать рабоу, выберите нужный вам пункт на верхней панели страницы.</p>
</div>
