@{
    ViewData["Title"] = "Privacy Policy";
}
<h1><b>Политика конфиденциальности</b></h1>

<p>Данная программа была зработана студентами ИСПО 4-го курса специальности 09.02 07 Оверченко Алекссем, Мироновым Вадимом и Дрякиным Иваном для ПАО "Техприбор" в ходе прохождения производсвенной практики. </p>
