@using ToolsToWorkers.Data.enums
@model ToolRequest
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Edit">
    <div class="mb-3">
        <label asp-for="WorkerID">Код работника</label>
        <input asp-for="WorkerID" class="form-control" autocomplete="off" style="width: 30%">
        <span asp-validation-for="WorkerID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ToolID">Код инструмента</label>
        <input asp-for="ToolID" class="form-control" autocomplete="off" style="width: 30%">
        <span asp-validation-for="ToolID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Status">Статус</label>
        <select asp-for="Status" class="form-control" style="width: 30%">
            @for (int i = 0; i < Enum.GetNames(typeof(ToolRequestStatus)).Length; i++)
            {
                <option value="@Enum.ToObject(typeof(ToolRequestStatus), i)">@Enum.ToObject(typeof(ToolRequestStatus), i)</option>
            }
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Requested">Запрошен</label>
        <input asp-for="Requested" class="form-control" autocomplete="off" style="width: 30%">
        <span asp-validation-for="Requested" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Returned">Возвращён</label>
        <input asp-for="Returned" class="form-control" autocomplete="off" style="width: 30%">
        <span asp-validation-for="Returned" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-secondary my-2">Отредактировать</button>
</form>



